@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(../img/img/bg.webp);
  background-attachment: fixed;
  background-size: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #8A4912;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

p {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-style: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.bracketsTop, .bracketsBottom {
  position: absolute;
  width: 100%;
  height: 70px;
  background: url(../img/img/bracketsTop.webp) no-repeat;
  background-size: contain;
  background-position: center;
}

.bracketsBottom {
  background: url(../img/img/bracketsBottom.webp) no-repeat;
  background-size: contain;
  background-position: center;
}

.corners {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.corners div {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(../img/img/corner.webp);
  background-size: contain;
}
.corners .RT {
  top: 0;
  right: 0;
  transform: scaleY(-1);
}
.corners .RB {
  bottom: 0;
  right: 0;
}
.corners .LT {
  top: 0;
  left: 0;
  transform: scaleX(-1) scaleY(-1);
}
.corners .LB {
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}

.wrap {
  position: relative;
  margin: auto;
  width: 60%;
  height: auto;
  background-color: #FFF;
  border-left: 2px #EEC300 solid;
  border-right: 2px #EEC300 solid;
  box-shadow: 0 -50px 50px rgba(0, 0, 0, 0.5);
}
.wrap .head {
  width: 100%;
}
.wrap .head #video {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px #EEC300 solid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.wrap .photo {
  margin: auto;
  margin-top: -110px;
  left: 50%;
  translate: 0;
  width: 200px;
  height: 200px;
  border: 2px #EEC300 solid;
  border-radius: 100%;
  background: url(../img/img/photo.webp) no-repeat;
  background-color: #FFD2D1;
  background-size: cover;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.wrap .myname {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #603813;
}
.wrap .botton-s {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 30px;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.wrap .botton-s .YT_s {
  background: url(../img/img/YT.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton-s .X_s {
  background: url(../img/img/X.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton-s .DC_s {
  background: url(../img/img/DC.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton-s .anonymous_s {
  background: url(../img/img/anonymous.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton-s div {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 0 20px;
  cursor: pointer;
}
.wrap .botton-s div a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrap .botton-s div::after {
  position: absolute;
  content: " ";
  translate: -6px -16px;
  width: 60px;
  height: 60px;
  border: #8A4912 1px solid;
  transform: rotate(0deg);
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.wrap .botton-s div:hover::after {
  border: #8A4912 1px solid;
  transform: rotate(45deg);
  opacity: 1;
}
.wrap .Introduction {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 60%;
  height: auto;
}
.wrap .Introduction .Myintroduction {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  text-align: center;
  font-size: 20px;
  color: #603813;
}
.wrap .botton {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 230px;
  margin: 30px 0px 100px;
  top: 70px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrap .botton .YT {
  background: url(../img/img/YT_botton.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .YT:hover {
  background: url(../img/img/YT_botton_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .X {
  background: url(../img/img/X_botton.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .X:hover {
  background: url(../img/img/X_botton_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .DC {
  background: url(../img/img/DC_botton.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .DC:hover {
  background: url(../img/img/DC_botton_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .anonymous {
  background: url(../img/img/anonymous_botton.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .anonymous:hover {
  background: url(../img/img/anonymous_botton_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .cooperate {
  background: url(../img/img/cooperate_botton.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton .cooperate:hover {
  background: url(../img/img/cooperate_botton_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .botton div {
  position: relative;
  width: 200px;
  height: 100%;
  margin: 0 0px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.2s;
}
.wrap .botton div a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrap .botton div:hover {
  transform: rotateY(180deg);
}
.wrap .ThreeView {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 1200px;
}
.wrap .ThreeView .ThreeViewTitle {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  text-align: center;
  font-size: 30px;
  color: #603813;
}
.wrap .ThreeView .img1 {
  margin: 15px auto;
  width: 80%;
  height: 600px;
  background: url(../img/img/ThreeView2.0.webp) no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(0px 2px 0px #EEC300) drop-shadow(2px 0px 0px #EEC300) drop-shadow(0px -2px 0px #EEC300) drop-shadow(-2px 0px 0px #EEC300);
}
.wrap .ThreeView .img2 {
  margin: 15px auto;
  width: 80%;
  height: 400px;
  background: url(../img/img/ThreeView1.0.webp) no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(0px 2px 0px #EEC300) drop-shadow(2px 0px 0px #EEC300) drop-shadow(0px -2px 0px #EEC300) drop-shadow(-2px 0px 0px #EEC300);
}
.wrap .ThreeView .bracketsTop, .wrap .ThreeView .bracketsBottom {
  position: absolute;
  width: 60%;
  left: 50%;
  translate: -50%;
}
.wrap .donate {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 230px;
  margin: 30px 0px 100px;
  top: 70px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrap .donate .donate1 {
  background: url(../img/img/donate_botton1.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .donate .donate1:hover {
  background: url(../img/img/donate_botton1_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .donate .donate_img {
  background: url(../img/img/coin.png) no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
.wrap .donate .donate2 {
  background: url(../img/img/donate_botton2.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .donate .donate2:hover {
  background: url(../img/img/donate_botton2_hover.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.wrap .donate div {
  position: relative;
  width: 200px;
  height: 100%;
  margin: 0 0px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.2s;
}
.wrap .donate div a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrap .donate div:hover {
  transform: rotateY(180deg);
}
.wrap .Introduction2 {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 60%;
  height: auto;
}
.wrap .Introduction2 .Introduction2Title {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  text-align: center;
  font-size: 30px;
  color: #603813;
}
.wrap .Introduction2 .Myintroduction2 {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  text-align: left;
  font-size: 20px;
  color: #603813;
}
.wrap .Introduction2 ol {
  padding-left: 30px;
}
.wrap .Introduction2 ol li {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-style: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #603813;
  text-align: left;
  font-size: 20px;
}
.wrap .bottom {
  height: 200px;
}

footer {
  position: absolute;
  margin-top: -1px;
  width: 100%;
  z-index: -1;
}
footer .footerBG {
  width: calc(60% + 4px);
  height: 564px;
  margin: auto;
  background: url(../img/img/footerBG.webp) no-repeat;
  background-size: 60vw 100%;
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.5));
}
footer .footerBG .copyright {
  margin: 0;
  padding-top: 160px;
  text-align: center;
  font-size: 20px;
  color: #603813;
}/*# sourceMappingURL=style.css.map */